.App {
  text-align: center;
}

button {
  background-color: skyblue;
  border-color: skyblue;
  margin: 5px;
  font-weight: 900;
  padding: 5px;
}

button:hover {
  background-color: slategray;
  color: white;
}

.projimg {
  margin-bottom: 10px;
}

.project {
  border-bottom: solid black 3px;
  padding: 10px;
}